* {
	margin:0px;
	padding:0px;
}
div.clear{clear:both;}
body {
	background:#000;
	color:#DF7401;
}
a {
	color:#D7A950;
	text-decoration:none;
}
div#container {
	margin:15px auto;
	text-align:left;
	width:898px;
	border:3px solid #CCC;
	box-shadow: 0px 0px 120px #6E6E6E;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/*
 *	HEADER
 */
div#header {
	width:900px;
	height:330px;
	background-image:url('../img/logo-netz.png');
	background-repeat:no-repeat;
	background-position:-10px -15px;
	margin:2px;
}
div#header div#status {
	border:0px;
	position:relative;
	right:12px;
	top:5px;
	float:right;
}
div#header div#status iframe.playerstatus {
	height:100px;
	width:135px;
	border:3px solid #303030;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow:hidden;
}
div#header div#player {
	position:relative;
	right:20px;
	top:130px;
	width:160px;
	float:right;
	text-align:center;
	padding:5px;
	font-size:14px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         0px 0px 30px 0px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
div#header div#player a {
	display:block;
}
/*
 *	NAVIGATION
 */
div#navigation{
	width:898px;
}
div#navigation ul {
	list-style-type:none;
}
div#navigation ul li {
	float:left;
	padding:7px;
	font-size:14px;
	margin:3px;
	margin-bottom:-1px;
	border:2px solid #CCC;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
div#navigation ul a {
	color:#EFCD87;
	font-family:Verdana, Arial;
}
div#navigation li:hover {
	border:2px solid #FFFFFF;
}

/*
 *	INHALT
 */
div#content {
	width:auto;
	min-height:300px;
	padding:7px;
	border-top:2px solid #CCC;
	border-bottom:2px solid #CCC;
	font-size:13px;
}

span.highlight {
	color:#F7D358;
}

form.contactform input {
	margin:5px;
}

table.termine {
	width:100%;
}
table.termine thead th{
	border-bottom:1px solid #ccc;
	padding:3px;
}
table.termine tr td {
	border-bottom:1px solid #333333;
	border-right:1px solid #333;
	padding:3px;
}
table.termine tr td.wday {	
	width:10%;
	color:#F7D358;
}
table.termine tr td.time {
	width:7%;
}

a.btnVote {
	background-color:#303030;
	border:1px solid #333;
	margin:5px;
}

/*
 * Hinweis-Boxen
 */
.alert-box {
    color:#555;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
	margin-right:20px;
}
.error {
    background:#ffecec url('../img/ico/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('../img/ico/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('../img/ico/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('../img/ico/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
	display:inline-block;
}

.btn-hover,
.btn:hover,
.btn:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.btn:focus {
    outline: 0;
}
.btn-active,
.btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}


.btn-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

div.add_vorschlag {
	margin-top:20px;
}

/*
 *	FUßBEREICH
 */
div#footer {
	width:896px;
	border:0px;
	padding:5px;
}
div#footer ul {
	list-style-type:none;
}
div#footer ul li {
	float:left;
}
div#footer span.right {
	float:right;
	margin-right:10px;
}


/*
 * REGISTRIERUNG
 */
table.standard tr td input[type=text], input[type=password] {
	margin: 2px;
	padding: 3px 5px;
	width: 250px;
	
	color: #303030;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
}
table.standard tr td input[type=text]:focus, input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}
table.standard tr td input[type=button] {
	width:100%;
}


ul.bedingungen {
	margin:5px;
	text-align:left;
	list-style-type:none;
}
ul.bedingungen ol {
	padding-left:30px;
}

/*
 * Menü
 */

div#profilemenue {
	display:block;
	border:2px solid #ccc;
	margin-bottom:10px;
}

div#profilemenue ul {
	list-style-type:none;
}

div#profilemenue ul li {
	float:left;
	text-align:center;
	background-color:#202020;
}
div#profilemenue ul li.selected {
	background-color: #400000;
}

div#profilemenue ul li a {
	display:block;
	line-height:30px;
	border-right:1px solid #CCCCCC;
	font-size:13px;
	font-weight:bold;
	color:#CCC;
	text-decoration:none;
}
div#profilemenue ul li a:hover {
	background-color: #21150E;
}